.company-logo {
  height: 45px;
  cursor: pointer;
}

.navbar-brand {
  padding: 0;
}
// .company-name {
//   color: gray;
//   font-family: Quicksand, Georgia, 'Times New Roman', Times, serif;
//   font-weight: 200;
// }

.fa-search {
  color: gray;
  font-weight: 100;
  //   color: blue;
}

.nav-link {
  // font-family: Quicksand, Georgia, 'Times New Roman', Times, serif;
  font-family: "Questrial";
  font-size: 1rem;
  font-weight: 100;
}

.user-name {
  font-weight: bold;
}
.user-pic {
  padding: 0 5px;
  height: 36px;
  border-radius: 50%;
}
.user-flag {
  padding: 0 5px;
  height: 30px;
}

.dropdown-flag {
  padding: 0 5px;
  height: 20px;
}

.dropdown-toggle::after {
  content: none;
}

.badge-info {
  position: absolute;
  top: -3px;
  left: 25px;
}

.btn-profile {
  padding: 0 10px;
}

.nav-link {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #3fd0d4 !important;
}

.nav-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  color: white;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-link:hover:after {
  width: 100%;
  color: #3fd0d4;
  background: #3fd0d4;
}
.nav-link {
  display: block;
  padding: 0px;
}
