input, select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: default;
  max-width: 100%;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}
hr {
  border-top: 1px solid #e1eaf0;
  padding-top: 20px;
  margin-top: 20px;
}
.fieldset {
  margin-bottom: 15px;
}
.fieldset:last-of-type {
  margin-bottom: 0;
}
input[type='text'], input[type='number'], input[type='password'], input[type='email'] {
  background-color: #fff;
  border: 1px solid #e1eaf0;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: text;
  width: 100%;
  transition: all 0.1s linear;
}
input[type='text']:hover, input[type='number']:hover, input[type='password']:hover, input[type='email']:hover {
  color: #4e596b;
}
input[type='text']:focus, input[type='number']:focus, input[type='password']:focus, input[type='email']:focus {
  color: #96307e;
  border-left: 3px solid #96307e;
}
a.consent-link {
  color: #0096ff;
}
.tos{
  color:  #fff;
  line-height: 1.33;
  font-size: 12px;
  float: left;
  text-align: left;
  padding-top: 8px;

}
.title {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #36476c;
  margin-bottom: 36px;
  margin-top: 22px;
}
.checkbox {
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.1s linear;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-column-align: center;
  justify-items: center;
}
.checkbox:last-of-type {
  margin-top: 0 !important;
}
.checkbox.checkbox-vertical-top * {
  vertical-align: top;
}
.checkbox input[type='checkbox'] {
  visibility: hidden;
  display: none;
}
.checkbox input[type='checkbox']:checked + .checkbox-toggle {
  border: 1px solid blue;
  background-color: blue;
}
.checkbox input[type='checkbox']:checked + .checkbox-toggle:after {
  opacity: 1 !important;
}
.checkbox:hover .checkbox-toggle {
  border: 1px solid blue;
}
.checkbox .checkbox-toggle {
  display: inline-block;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #fff;
  vertical-align: middle;
  border: 1px solid #bdc4d4;
  border-radius: 3px;
  width: 18px;
  height: 18px;
  position: relative;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.1s linear;
  pointer-events: none;
}
.checkbox .checkbox-toggle:after {
  font-family: 'paddle';
  content: '\e003';
  color: #fff;
  width: auto;
  position: absolute;
  top: 1px;
  right: 3px;
  font-size: 10px;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: all 0.17s linear;
}
.checkbox p {
  font-size: 14px;
  margin: 0 0 0 16px;
  display: inline-block;
  color: #ffffff;
}
.checkbox * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#consent-fields {
  margin: 5px 0 10px 0;
  text-align: left;
}
input[type='checkbox'] {
  display: inline-block;
  margin: 0 6px 0 0;
  vertical-align: middle;
  position: relative;
  width: auto !important;
}
.select {
  background-color: #fff;
  border: 1px solid #e1eaf0;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: text;
  width: 100%;
  transition: all 0.1s linear;
}
.select:hover {
  color: #4e596b;
}
.select:focus {
  color: #96307e;
  border-left: 3px solid #96307e;
}
button,
.submit-button {
  color: #fff;
  background-color: #f7a71a;
  border-color: #f7a71a;
  padding: 13px 15px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: all 0.1s linear;
}

button:hover,
.submit-button:hover {
  background-color: blue;
  border-color: blue;
}
button:disabled,
button:disabled:hover {
  background-color: blue;
  border-color: blue;
  color: #fff;
  cursor: not-allowed;
}
button i,
.submit-button i {
  font-size: 0.8em;
  top: 1px;
  margin-left: 5px;
}
a {
  cursor: pointer;
  transition: all 0.1s linear;
}
i {
  position: relative;
  transition: all 0.1s linear;
}
.box-wrapper {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, blue 0%, #111629 100%);
}
.box-wrapper::before {
  content: '';
  position: fixed;
  left: -22%;
  top: 60%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(135deg, #111629 0%, blue 100%);
  transform: rotate(15deg);
}
.box-wrapper .box-container {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 20px;
}
.box-wrapper .box-container .box-content-block {
  width: 330px;
  margin: auto;
  position: relative;
}
.box-wrapper .box-container .box-content-block .logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  width: 120px;
  height: 50px;
  cursor: pointer;
}
.box-wrapper .box-container .box-content-block .box-toggle {
  position: absolute;
  right: 0;
  top: 7px;
  left: auto;
}
.box-wrapper .box-container .box-content-block .box-toggle a {
  color: #9db2c2;
  padding: 6px 10px 7px 10px;
  border-radius: 50px;
  font-size: 0.7em;
}
.box-wrapper .box-container .box-content-block .box-toggle a:hover {
  color: #f7a71a;
}
.box-wrapper .box-container .box-content-block .box-toggle a.active {
  color: #fff;
  background-color: #9db2c2;
}
.box-wrapper .box-container .box-content-block .vendor-message {
  text-align: left;
}
.box-wrapper .box-container .box-content-block .vendor-message ul li {
  color: #ce4c55;
  text-align: left;
  font-size: 0.85em;
  margin-bottom: 5px;
}
.box-wrapper
  .box-container
  .box-content-block
  .vendor-message
  ul
  li:last-of-type {
  margin-bottom: 15px;
}
.box-wrapper .box-container .box-content-block .box-form .name-inputs {
  white-space: nowrap;
  &input{
    display: inline-block;
    width: 48%;
    &:first-of-type{
      margin-right: 5px;
    }
    &:last-of-type{
      margin-left: 5px;
    }
  }
}
.box-wrapper .box-container .box-content-block .box-form .field-with-tooltip {
  position: relative;
}
.box-wrapper .box-container .box-content-block .box-form .field-with-tooltip .tooltip {
  pointer-events: none;
  position: absolute;
  background-color: #1a3649;
  color: #fff;
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 0.8em;
  text-align: left;
  opacity: 0;
  margin-top: 10px;
  right: 0;
  width: 100%;
  transition: all 0.1s linear;
}
.box-wrapper .box-container .box-content-block .box-form .field-with-tooltip .tooltip.top {
  bottom: 45px;
  margin-top: 0;
  margin-bottom: 0;
}
.box-wrapper .box-container .box-content-block .box-form .field-with-tooltip input:focus + .tooltip {
  opacity: 1;
  margin-top: 5px;
  &.tip{
    opacity: 1;
    margin-bottom: 5px;
  }
}

.box-wrapper .box-container .box-content-block .box-form .submit-button {
  margin-top: 15px;
  &:hover{
    & i {
      margin-left: 15px;
    }
  }
}
.box-wrapper .box-container .box-content-block .tandc {
  color: #9db2c2;
  text-align: left;
  margin-top: 10px;
  font-size: 0.68em;
  &a{
    text-decoration: underline;
    &:hover{
      color: #4f687b;
    }
  }
}
.box-wrapper .box-container .box-content-block .password-reset {
  color: #9db2c2;
  text-align: left;
  font-size: 0.68em;
  margin-top: 15px;
  &a{
    text-decoration: underline;
    &:hover{
      color: #4f687b;
    }
  }
}
