<div class="box-wrapper">
  <div class="box-container">
    <div class="box-content-block">
      <div class="logo" (click)="onLogoClick()" [style.background-image]="'url(/assets/images/ita_logo_white.png)'"></div>
      <div class="box-toggle">
        <a class="active">Signup</a>
        <a routerLink="/login">Login</a>
      </div>

      <div class="box-form">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="fieldset field-with-tooltip">
            <input placeholder="username" type="text" maxlength="11" formControlName="username" />
            <small class="text-danger" *ngIf="
                form.controls.username.errors &&
                form.controls.username.touched
              ">
              <div [hidden]="!form.controls['username'].errors.required">
                username required
              </div>
            </small>
          </div>
          <div class="fieldset field-with-tooltip">
            <input placeholder="Password" type="password" formControlName="password" />
            <div class="tooltip top">
              <p class="password-strength-text">
                Passwords must contain 6 characters or more. Good passwords are hard to guess and use uncommon words, numbers, symbols and
                uppercase letters.
              </p>
            </div>
            <div class="password-strength">
              <span></span>
            </div>
          </div>
          <hr />
          <button type="submit" class="signup-login-action submit-button" [disabled]="form.invalid">
            Create your account
            <i class="fa fa-chevron-right"></i>
          </button>
          <p class="tos">
            Already have an account ?
            <a routerLink="/login">Login now</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
